.buscar-arquivo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .buscar-arquivo-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .input-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color:  #00bfff;
    color: white;
    cursor: pointer;
    font-size: 1em;
  }
  
  .input-group button:hover {
    background-color: #009acd;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .file-preview {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }