.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f7f8fa;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 8, 8);
}

.App-footer {
  color: rgb(202, 13, 13);
}

.App-link {
  color: #61dafb;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  
}

.form-container fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form-container legend {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input[type="submit"] {
  width: 50%;
  padding: 10px;
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.form-container input[type="submit"]:hover {
  background-color: #00bfff;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.button-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.button-container .back-button {
  background-color: #f44336;
  color: white;
}

.button-container .back-button:hover {
  background-color: #d32f2f;
}

.lista-registros {
  flex: auto;
  margin: 0 auto;
  padding: 20px;
}

.lista-registros h2 {
  text-align: center;
  margin-bottom: 20px;
}

.lista-registros table {
  width: 100%;
  border-collapse: collapse;
}

.lista-registros th,
.lista-registros td {
  border: 1px solid #ddd;
  padding: 8px;
}

.lista-registros th {
  background-color: #f2f2f2;
  text-align: left;
}

.lista-registros tr:nth-child(even) {
  background-color: #f9f9f9;
}

.lista-registros tr:hover {
  background-color: #ddd;
}

.editar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin-left: 20px;
}

.editar-link:hover {
  text-decoration: underline;
}

.editar-link svg {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.action-column {
  width: 10px; /* Ajuste para a largura desejada */
  white-space: nowrap; /* Evita que o conteúdo quebre em múltiplas linhas */
}

.espaco_coluna{
  margin: 0 20px;
}

.inline-fields {
  display: flex;
  justify-content: space-between;
}

.inline-fields .field-menor {
  flex: 1;
  margin-right: 10px;
  max-width: 150px; /* Ajuste a largura conforme necessário */
}

.inline-fields .field-maior {
  flex: 2; /* O maior ocupará mais espaço */
  margin-right: 10px;
}

.inline-fields .field-menor input,
.inline-fields .field-maior input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 35%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.form-container input[type="file"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.preview-image {
  margin-top: 15px;
  max-width: 50%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-progress {
  margin-top: 20px;
}

.upload-progress progress {
  width: 50%;
  height: 20px;
  border-radius: 4px;
}

.upload-progress span {
  display: block;
  margin-top: 5px;
  font-size: 1em;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
